body{
  background-color:rgb(221, 202, 237);
}
p{
  font-family: times new roman;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}